<!DOCTYPE html>
<html class="fuelux" lang="en">
<head>
    <title>{%METATITLE%}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/fonts/Lobster/Lobster.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/fonts/Lato/Lato.css" />

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/assets/font-awesome/css/font-awesome.min.css" />

    <!-- Stylesheets / Assets -->
    <link rel='stylesheet' type='text/css' href="{%BASEDIR%}/themes/simplicity/assets/jquery-ui/ui-lightness/jquery-ui-1.10.3.custom.css" />
    <link rel='stylesheet' type='text/css' href='{%BASEDIR%}/themes/simplicity/assets/datatables/jquery.dataTables.css' />

    <!-- Stylesheets / Symplicity -->
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/css/styles-less.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity/css/animate.css" />

    <!-- Stylesheets / Symplicity-child -->
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity-child/css/styles-less.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity-child/css/responsive.css" />


    <!-- Stylecheets / Custom -->
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/scripts/libs/jquery.sidr/stylesheets/jquery.sidr.dark.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity-child/css/sidebar.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/themes/simplicity-child/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="{%BASEDIR%}/scripts/libs/jquery.easymodal/easymodal.css" />

    <!-- IE9 Compatibility -->
    <!--[if lt IE 9]>
    <!--<script src="{%BASEDIR%}/simplicity/js/html5shiv.js"></script>
    <script src="{%BASEDIR%}/simplicity/js/respond.min.js"></script>-->
    <![endif]-->

    <script data-main="{%BASEDIR%}/scripts/app.js" src="{%BASEDIR%}/scripts/libs/requirejs/requirejs-2.1.11.min.js"></script>
</head>
<body>

</body>
</html>