
<!-- Sidebar Start -->
{{view App.SidebarView}}
<!-- Sidebar End -->

<div class="content-liquid-full">
    <div class="container">


        <!-- Header Bar Start -->
        <div class="row header-bar">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs hidden-sm">
                <ul class="left-icons">
                    <li><a href="#" class="collapse-sidebar"><i class="fa fa-bars"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Header Bar End -->


        <!-- Content Start -->
        {{outlet}}
        <!-- Content End -->
    </div>
</div>