<!-- Logo Start -->
<a href="#/dashboard"">
    <div class="logo-container" id="step1">
        <h1>Homecontrol</h1>
    </div>
</a>
<!-- Logo End -->

<ul class="menu">

    <li class="lightblue">
        <a href="#/dashboard">
            <span class="menu-icon"><i class="fa fa-home"></i></span>
            <span class="menu-text">Dashboard</span>
        </a>
    </li>

    <li class="lightblue">
        <a href="#/events">
            <span class="menu-icon"><i class="fa fa-bolt"></i></span>
            <span class="menu-text">Events</span>
        </a>
    </li>

    <li class="lightblue">
        <a href="#/devices">
            <span class="menu-icon"><i class="fa fa-code-fork"></i></span>
            <span class="menu-text">Devices</span>
        </a>
    </li>

    <li class="lightblue">
        <a href="#/triggers">
            <span class="menu-icon"><i class="fa fa-eye"></i></span>
            <span class="menu-text">Triggers</span>
        </a>
    </li>

    <li class="lightblue">
        <a href="#/settings">
            <span class="menu-icon"><i class="fa fa-cogs"></i></span>
            <span class="menu-text">Settings</span>
        </a>
    </li>

</ul>