<ul>
    <li><a href="#/dashboard">Home</a></li>
    <li><a href="#/devices">Devices</a></li>
    <li><a href="#/events">Events</a></li>
    <li><a href="#/settings">Settings</a></li>
    <li><a href="#/remotesockets">Remotesockets</a></li>
    <li><a href="#/gpio">Gpio</a></li>
</ul>