<div class="boxed">
    <div class="title-bar white">
        <h4>Time Trigger</h4>
    </div>

    <div class="inner no-radius">
        <form method="post" action="#" class="basic-form">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <label for="name">Start:</label>
                {{input type=text name=defaultConfig.start_date id=event.event.start_date placeholder="DD.MM.YYYY" value=event.event.start_date}}
                {{input type=text name=defaultConfig.start_time id=event.event.start_time placeholder="hh:mm" value=event.event.start_time}}
                <hr>
                <label for="name">Repeat?</label>
                {{input type="checkbox" name=defaultConfig.repeat checked=event.event.repeat}}

                {{view Ember.Select
                content=timetriggers
                prompt="Please select"
                selectionBinding="selectedTimeRepeat"
                optionValuePath="content.value"
                optionLabelPath="content.name"
                }}

            </div>
        </form>
    </div>
</div>
