<div class="boxed">
    <div class="title-bar white">
        <h4>Auslösebedingung</h4>
    </div>

        <div class="inner no-radius">
            <div class="row">
                <div class="boxed no-padding col-lg-6 col-md-6 col-sm-12 col-xs-12">

                    <!-- Title Bart Start -->
                    <div class="title-bar white">
                        <h4>Time</h4>
                    </div>
                    <!-- Title Bart End -->

                </div>
            </div>
        </div>
</div>