


<div class="remotesockets-button">
    <span>{{name}}</span>
    <button {{action 'triggerSocket' _id}} class="btn btn-xs btn-success">On</button>
    <button {{action 'triggerSocket' _id}} class="btn btn-xs btn-danger">Off</button>
</div>