#login-layer {
    position: absolute;
    overflow: visible;
    z-index: 999;
    width: 100px;
    height: 100px;
    background-color: green;
}

#easymodal-window {
    background:url('../../simplicity/_demo/images/login-background.jpg')
}



/* --- Remotesockets - Start --- */

ul.socket-list {
    margin: 15px 0px;
    padding: 0;
    list-style: none;
}

.socket-list li {
    margin-bottom: 15px;
}

.socket-list li.nav span {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #8ca2b7;
    color: #8ca2b7;
}

.socket-list li.nav span:first-child {
    padding-left: 0px;
}

.socket-list li.nav span:last-child {
    border-right: 0px !important;
}

.socket-list li.nav span i {
    padding: 0px 7px 0px 0px;
}

.socket-list li.nav span.create-task i {
    color: #109618;
}

.socket-list li.nav span.delete-task {
    color: #f56333;
}

.socket-list li.nav span.delete-task i {
    color: #f56333;
}

.socket-list li {
    padding: 15px 20px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdfe0;
    border-bottom: none;

    -webkit-box-shadow: 0px 3px 0px #dbdfe0;
    -moz-box-shadow: 0px 3px 0px #dbdfe0;
    box-shadow: 0px 3px 0px #dbdfe0;
}

.socket-list li span {
    color: #8ca2b7;
    line-height: 20px;
    padding-top: 2px;
    vertical-align: top;
    display: inline-block;
}

.socket-list li .actions {
    float: right;
}

.remotesockets-button span {
    font-size: 16px;
}

/* --- Remotesockets - End --- */

